html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: #EEEEEE;
}

.header {
    background-color: #9C0F48;

    height: 50px;
    width: 100%;

    position: fixed;
    z-index: 2;
    top: 0;

    display: flex;
    align-items: center;

    padding: 0px 0px 0px 0px;

    color: #ffff;
    font-size: 24px;
    font-weight: 900;
}

.navbar {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.category {
    width: 100%;

    display: flex;
    justify-content: center;

    font-size: 16px;
    text-transform: uppercase;

    color: #ffff;

    padding-right: 150px;
}

.category{
    color: #ccc;
    text-decoration: none;
}

.nav-link {color: #ffff;}
.nav-link:hover {color: #FF2E63;}

.brand_name {

    width: 150px;

    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 28px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.paginationMenu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.product {
    background-color: #ffff;
    width: 310px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    margin: 12px;
}

.product-name {
    background-color: #FF2E63;

    padding: 3px;

    display: flex;
    justify-content: center;
    align-content: center;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    color: #ffff;
    font-size: 18px;
    font-weight: bold;
}
.product-image {

    display: flex;

    justify-content: center;
}

.product-image > img {
    height: 280px;
    width: 300px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #ccc;
    padding: 10px;
}

.product-details-discount {
    display: flex;
    align-items: center;
}

#price {
    font-size: 16px;
    color: gray;
    text-decoration: line-through;
    padding-right: 5px;
}

#new_price {
    font-size: 24px;
    font-weight: 600;
}
#discount {
    font-size: 14px;
    font-weight: 600;
    color: green;
}

.search {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #ffff;
    padding: 10px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 18px;
}

.orderByName {
    display: flex;
    flex-direction: column;
    margin-left: 18px;

}

.menu {
    display: none;
}



/*menu mobile*/

.navbar-menu{
    margin-left: 1rem;
    display: none;
}

.navbar-menu img {
    cursor: pointer;
    height: 32px;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: #9C0F48;

    padding: 2rem;
    position: absolute;
    top: 60;
    right: 0;
    margin-top: 40px;
    min-width: 210px;
    border-radius: 1px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
}

.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
    color: #F0ECE3;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    
}

.navbar-menu_container-links a{
    font-size: 18px;
}


@media (max-width: 1200px) {
    .category {
      padding-right: 0;
    }
}

@media (max-width: 900px) {
    .header {
        justify-content: space-around;
        flex-direction: column;
        height: 120px;
    }
    .category {
      padding-right: 0;
    }

    .search {
        margin-top: 130px;
    }
}
  